<div>
<% if (allMoviesArray != null) { %>
    <%  allMoviesArray.forEach(movie => { %>
    <a href="/movies/<%= movie._id%>">
        <div>Title: <%= movie.title  %> </div>
        <div>Date of Release: <%= movie.release_date  %> </div>
        <div>Rating: <%= movie.rating %> </div>
    </a>
<% }) %>
<% } %> 
</div>