<header>
    <nav>
        <a href="/">Movies Havasu</a>
        <ul>
            <li><a href="/rewards">Rewards Page</a></li>
            <li><a href="/movies">Individual Movies Page</a></li>
        </ul>
    </nav>
</header>