<h2><%= user.name%></h2>
<a href="/rewards/rewardsMember/<%= user.id%>/editUser">Edit</a>
<form action="/rewards/rewardsMember/<%= user.id %> /logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>