<h2>Search Movies</h2>
<form action="/movies" method="GET">
    <div>
        <label>Title</label>
        <input type="text" name="title">
        <button type="submit">Search</button>
    </div>
</form>
